<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>6.Vue监测数据改变的原理.html</title>
    <script src="/lib/js/vue.js"></script>
</head>
<style>
    .basic {
        text-align: center;
        width: 400px;
        height: 800px;
        border: 1px solid black;
    }
</style>
<body>

<!--

-->
<div id="app" class="basic">

    <h2>学校名称：{{name}}</h2>
    <h2>学校地址：{{address}}</h2>
    <hr>
    <h2>学生姓名：{{student.name}}</h2>
    <h2 v-if="student.sex">学生性别：{{student.sex}}</h2>
    <h2>学生年龄：真实{{student.age.rAge}}, 对外{{student.age.sAge}}</h2>
    <h2>朋友们</h2>
    <ul>
        <li v-for="(f, index) in student.friends" :key="index">{{f.name}} - {{f.age}}</li>
    </ul>
</div>

<script>
    Vue.config.productionTip = false;

    // 用计算属性实现
    let vm = new Vue({
        el: "#app",
        data: {
            name: 'Maple Flower School',
            address: 'Tokyo',
            student: {
                name: 'Maple',
                age: {
                    rAge: 18,
                    sAge: 20,
                },
                friends: [
                    {name: 'IU', age: 29},
                    {name: 'Tayeon', age: 31},
                ]
            }
        },
        methods: {}
    });

    setTimeout(() => {
        Vue.set(vm._data.student, 'sex', '女')
    }, 1000)
</script>
</body>
</html>